<%= render 'partials/navigation'%>
<div class = 'container'>
  <% @recipes.each do |recipe| %>
    <div class = 'recipe_card'>
      <a href = "/users/<%= recipe.author_id %>/recipes/<%= recipe.id %> " >
        <div>
          <h1><%= recipe.name %></h1>
          <h2> By: <%= recipe.author.name %></h2>
        </div>
        <p><%= recipe.description %></p>
      </a>
      <% if can? :destroy, recipe %>
        <%= button_to 'Delete', user_recipe_path(user_id: current_user.id, id: recipe.id), method: :delete , class: 'delete_btn' %>
      <% end %>
    </div>
  <% end %>
</div>