
<div class = 'navbar bg_black'>
  <div class = 'container'>
    <nav class = 'd_flex space_between align_center'>
      <div>
        <% if user_signed_in? %>
        <%= link_to 'Foods', user_foods_path(user_id: current_user.id),class: 'nav_link' %>
        <%= link_to 'Recipes', user_recipes_path(user_id: current_user.id),class: 'nav_link' %>
        <%= link_to 'Public Recipes', user_public_recipes_path(user_id: current_user.id),class: 'nav_link' %>
        <% end %>
      </div>
      <div class = 'd_flex align_center'>
        <% if user_signed_in? %>
        <p class = 'white_color'><%= current_user.name %></p>
        <%= form_with  url: destroy_user_session_path, method: :delete, class: 'd_flex' do |f| %>
          <%= f.submit "Logout" , class: 'nav_link' %>
        <% end %>
        <% else %>
        <%= link_to 'Login', new_user_session_path,class: 'nav_link' %>
        <%= link_to 'Register', new_user_registration_path,class: 'btn btn_orange' %>
        <% end %>
      </div>
    </nav>
  </div>
</div>