<div class = 'banner'>
<%= render 'partials/navigation'%>
<div class = 'container d_flex align_center justify_center'>
  <div class = 'session_box m_top_15'>
  <h2 class = 'text_center heading_1'>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email, class: 'heading_3' %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" , class: 'form_field '%>
  </div>

  <div class="field">
    <%= f.label :password, class: 'heading_3' %><br />
    <%= f.password_field :password, autocomplete: "current-password", class: 'form_field ' %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, class: 'heading_3' %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in" ,class: 'btn btn_orange heading_4' %>
  </div>
<% end %>
</div>
</div>
</div>

