<%= render 'partials/navigation'%>
<div class = 'container'>
  <%= form_with model: @recipeFoods, local: true, url:  user_recipe_recipe_foods_path do |f| %> 
    <%= f.collection_select :food_id , Food.order(:name) ,:id, :name, include_blank: true %>
    <%= f.text_field :quantity, placeholder: 'Quantity' , required: true %> 
    <%= f.submit "Add food" , class: 'btn btn_orange' %> 
  <% end %> 
</div>
